__pycache__/
*.py[cod]
*.pyd
*.so
.pytest_cache/
.coverage
htmlcov/
.venv/
venv/
build/
dist/
*.spec
cache/*
!cache/.gitkeep
data/*
!data/.gitkeep
app/.staging/
*.log
*.zip
.idea/
.vscode/
Thumbs.db
.DS_Store
